database_url_sync=postgresql://username:password@localhost/dbname
database_url_async=postgresql+asyncpg://username:password@localhost/dbname
encryption_key=your-32-byte-base64-encoded-key-here
expire_in=3600
expire_refresh_token_in=86400
secret_key=your-secret-key-for-jwt
secret_refresh_key=your-secret-refresh-key-for-jwt